*.pyc
.tests
datasets/
outputs/
src/__pycache__/
src/checkpoints/
src/models/__pycache__/
src/preprocessing/arrays/
src/preprocessing/preprocessed/
src/scripts/
!src/scripts/*.py
src/tensorboard/*
src/embeddings/*
stats/
blacklists/
