*.pyc
*.csv
*.npy
*.png
data/blacklists/*
data/arrays/*
data/vocabs/*
tensorboard/*
embeddings/*
checkpoints/*
src/__pycache__/
src/models/__pycache__/
src/scripts/*
!src/scripts/*.py
src/visualizations/*
!src/visualizations/*.py
predictions/*
src/lib/tacks
runs/*
!runs/default.yaml
