*.csv
*.npy
*.pyc
checkpoints/*
data/arrays/*
data/blacklists/*
data/vocabs/*
embeddings/*
predictions/*
runs/_*
src/__pycache__/
src/lib/tacks
src/models/__pycache__/
src/visualizations/*
!src/visualizations/*.py
tensorboard/*
